@model IEnumerable<PassportTracker.Models.LawCourts>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { SPHostUrl = SharePointContextFilterAttribute.sphosturl })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LC_Jurisdiction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LC_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LC_Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LC_Suburb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LC_State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LC_DX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LC_PostCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LC_Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LC_Fax)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LC_Jurisdiction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LC_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LC_Street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LC_Suburb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LC_State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LC_DX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LC_PostCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LC_Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LC_Fax)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LC_Id , SPHostUrl = SharePointContextFilterAttribute.sphosturl }) |
            @Html.ActionLink("Details", "Details", new { id=item.LC_Id , SPHostUrl = SharePointContextFilterAttribute.sphosturl }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LC_Id , SPHostUrl = SharePointContextFilterAttribute.sphosturl })
        </td>
    </tr>
}

</table>
